@use "variables" as *;

// ------------------------------------------------------------
// Process
// ------------------------------------------------------------

.process {
  padding: $space-8 0;
}

.process-list {
  border-top: 1px solid $color-border;
}

.process-item {
  display: grid;
  grid-template-columns: 100px 1fr;

  padding: $space-4 0;

  border-bottom: 1px solid $color-border;

  > span {
    color: $color-primary;

    font-size: $font-size-sm;
  }

  > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $space-4;
  }

  h3 {
    margin: 0;

    font-size: $font-size-lg;
    font-weight: $font-weight-medium;
  }

  p {
    max-width: 500px;

    margin: 0;

    color: $color-text-muted;
  }

  @media (max-width: $breakpoint-md) {
    grid-template-columns: 50px 1fr;

    > div {
      grid-template-columns: 1fr;
    }
  }
}

