@use "variables" as *;

// ------------------------------------------------------------
// Statement
// ------------------------------------------------------------

.statement {
  background: $color-primary;
  color: $color-white;

  padding: $space-8 0;

  &__text {
    max-width: 1000px;

    margin: 0;

    font-size: $font-size-xl;
    font-weight: $font-weight-medium;
    line-height: 1.35;
    letter-spacing: -0.04em;
  }
}

